body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000B49;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #FF7272;
}

h1 {
    font-family: 'Spirax', cursive;
    font-weight: lighter;
    font-size: 50px;
    background-color: #9B0000;
    color: white;
    position: relative;
    top: 338px;
    left: -39px;
    padding: 15px;
    box-shadow: 0 0 39px rgba(54, 2, 2, 0.76);
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover; /*The replaced content is sized to maintain its aspect ratio while filling the element’s entire content box. If the object's aspect ratio does not match the aspect ratio of its box, then the object will be clipped to fit.*/
    position: absolute;
    z-index: -3;
}
.description {
    width: 40%;
    margin: 300px 30% 10% 30%;
    padding: 3% 5%;
    background-color: #FFB5B5;
    box-shadow: 0 0 20px rgb(0 0 0 / 40%);
    
}
.margin-as-description {
    margin: 0px 30% 10% 30%;
}
.ingredients {
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
}